importFrom(R6,R6Class)
importFrom(methods,formalArgs)
importFrom(stats,as.formula)
importFrom(stats,ave)
importFrom(stats,coef)
importFrom(stats,complete.cases)
importFrom(stats,cor)
importFrom(stats,cov)
importFrom(stats,median)
importFrom(stats,model.matrix)
importFrom(stats,na.exclude)
importFrom(stats,na.omit)
importFrom(stats,prcomp)
importFrom(stats,predict)
importFrom(stats,qnorm)
importFrom(stats,quantile)
importFrom(stats,runif)
importFrom(stats,sd)
importFrom(stats,setNames)
importFrom(stats,var)
importFrom(stats,weights)
importFrom(utils,capture.output)
importFrom(utils,download.file)
importFrom(utils,getFromNamespace)
importFrom(utils,head)
importFrom(utils,installed.packages)
importFrom(utils,setTxtProgressBar)
importFrom(utils,str)
importFrom(utils,tail)
importFrom(utils,txtProgressBar)
importFrom(utils,unzip)
importFrom(utils,write.csv)
importFrom(utils,zip)
useDynLib(PredictProR, .registration=TRUE)
S3method(coef,ba_fit)
S3method(fitted,ba_fit)
S3method(predict,ba_fit)
S3method(print,ba_fit)
S3method(print,predictpror_batch_plan)
S3method(print,predictpror_shared_owner)
S3method(print,predictpror_shared_reference)
S3method(print,summary_ba_fit)
S3method(summary,ba_fit)
export(AI_knn)
export(AI_knn_cv)
export(AI_lasso_cv)
export(AI_pls)
export(AI_pls_cv)
export(AI_randomForest)
export(AI_randomforest_cv)
export(AI_ridge_regression_cv)
export(AI_RidgeRegression_Lasso)
export(AI_svm)
export(AI_svm_cv)
export(AI_Xgb)
export(AI_xgboost_cv)
export(asreml_cv_model)
export(asreml_herit_CSM_new)
export(asreml_herit_varCov_new)
export(asreml_mod_cv)
export(asreml_mod_output_new)
export(asreml_utilis_new)
export(asreml_variance_components)
export(bayes_finalize_cross_val)
export(bayes_finalize_RKHS_GBLUPBRR)
export(bayes_mod_cv)
export(bayes_mod_execute)
export(bayes_parameter_check)
export(bayes_variance_componentsnew)
export(blending_stat)
export(cal_coeff_asreml)
export(cal_coeff_ebv_pev_rel_RHKS_glub)
export(cal_coeff_ebv_pev_rel_se_new)
export(check_test_set)
export(compute_call_rate)
export(convert_csv_to_vcf)
export(convert_hapmap_to_vcf)
export(compute_inverse_and_sparse)
export(CV_nfolds)
export(CV0_CV1_CV2_for_multi_environment)
export(cv1_cv2_and_across_env_result_plot_process)
export(deep_learning_model_utility)
export(detect_genomic_coding)
export(diagnostic_plot_true_prediction)
export(ETA_compiler_bayes)
export(ETA_compiler_bayes_GBLUP)
export(IUPAC_hapmap_compatible)
export(ETA_compiler_fixed_term)
export(evaluation_metrics)
export(extract_var_cov_structures)
export(feature_impo_xgb)
export(feature_score_predictors)
export(feature_select_top_k)
export(filter_heterozygous)
export(fixed_term_model)
export(fixed_terms)
export(geno_precheck)
export(geno_to_model)
export(general_prediction_data_standard)
export(grm_kernel_diagnostic_fixOLD)
export(build_gp_factor_cache)
export(dl_prewarm_runtime)
export(dl_seed_plan)
export(gp_multi_trait_met_model)
export(gp_multi_trait_model)
export(gp_parallel_policy_knobs)
export(gp_policy_decision_reason_glossary)
export(gp_prewarm_runtime)
export(gp_single_trait_model)
export(hybrid_data_standard)
export(hybrid_benchmark_process)
export(hybrid_benchmark_report)
export(hybrid_benchmark_table_from_runs)
export(validate_hybrid_input_standard)
export(hmp_qc_recode)
export(impute_genotypes_with_beagle)
export(impute_genotypes_native)
export(hold_out_stratified_and_un)
export(kernel_calculation)
export(kfolds_stratified_un)
export(ld_pair_vec)
export(ld_prune_graph)
export(ld_window)
export(merge_data)
export(ML_data_processing)
export(met_data_standard)
export(mod_output_bayes_gbluBRR_RKHS)
export(model_execute)
export(parallel_memory_plan)
export(parallel_batch_plan)
export(parallel_shared_create)
export(parallel_shared_map)
export(parallel_shared_reference)
export(parallel_shared_status)
export(prediction_output_standard)
export(multi_trait_data_standard)
export(model_prep_bayes_cv)
export(omic_precheck)
export(omic_to_model)
export(pheno_geno_match)
export(phenotype)
export(phenotype_precheck)
export(phenotype_to_model)
export(prediction_input_standard)
export(predict_from_coeff)
export(predict_with_model)
export(process_batch)
export(process_geno_data)
export(process_omic_data)
export(process_var_u)
export(rand_fix_check)
export(random_term_model)
export(random_terms)
export(random_terms_fit_new)
export(relationship_matrix_diagnostics)
export(remove_from_global)
export(Remove_NA_Mono_SNP)
export(results_handling)
export(save_ggplot)
export(select_best_model)
export(sep_pev_rel_gblup)
export(setup_predictdl_env)
export(setup_predictgp_env)
export(sparse_matrix)
export(standard_deviation)
export(summary_statistics_AI)
export(summary_statistics_asreml)
export(summary_statistics_bayes)
export(train_test_split)
export(validate_general_input_standard)
export(validate_met_input_standard)
export(validate_multi_trait_input_standard)
export(validate_prediction_input)
export(validate_prediction_output)
export(validate_predictive_uncertainty)
export(validate_relationship_matrix)
export(vcf_qc_recode)
export(zipMMatrixModelReady)
